@import "../../variables";

section {
  margin: 10vh 0;
}

.opportunities {
  margin: 60px auto;
  max-width: 1240px;
  padding: 0 20px;
  text-align: center;

  .description {
    margin: 0 10vw;
  }

  .carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: left;
    padding: 10px 0;

    &::-webkit-scrollbar {
      width: 50px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $faded-blue;
      border-radius: 30px;
      border: 6px solid transparent;
      background-clip: content-box;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: $hacs-blue;
      }
    }
  }

  .opportunity {
    width: auto;
    padding: 10px;
    flex: 0 0 auto;

    .details {
      padding: 0 25px;
    }

    .title {
      text-align: center;
    }
  }

  .card {
    padding: 0;
    margin: 0 20px;
  }
}
