@import "../../variables";

.global-header {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1240px;
    margin: 0 auto;
    height: 100px;
    border-bottom: 5px solid $hacs-blue;
    
    .header-mobile {
        display: none;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    h3 {
        font-family: $title-font;
        color: $title-text;
        font-size: 16px;
    }
}

/* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 610px) {
        .header-mobile {
            display: block !important;
        }

        .header-desktop {
            display: none;
        }

        .global-header {
            padding: 0 20px;
        }
    }
