@import "../../variables";

.global-header {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1240px;
    margin: 0 auto;
    height: 100px;
    border-bottom: 5px solid $hacs-blue;

    h3 {
        font-family: $title-font;
        color: $title-text;
        font-size: 16px;
    }
}
