@import "../../variables";

.footer {
    color: $light-light;
    background-color: $hacs-blue;
    font-family: $content-font;

    .footer-container {
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        height: 250px;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        font-family: $title-font;
    }

    p {
        padding: 6px 10px;
        margin: 0;
        font-weight: bold;
    }

    a, a:visited {
        color: $light-light;
        font-weight: 400;
    }

    .socials {
        padding: 8px 0;
    }
}