 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@100;400;700&display=swap');


 /* Colors */
$hacs-blue: #27246A;
$hacs-red: #981B1E;
$hacs-gold: #EBA222;
$hacs-green: #088C45;
$title-text: #3D4449;
$light: #AAAAAA;
$subtitle: #7F888F;
$hr: rgba(186, 186, 186, 0.75);
$light-light: #EDEDED;
$social: #BBBBBB;
$faded-blue: rgba(39, 36, 106, 0.1);
$focus-blue: #242246;

/* Fonts */
$title-font: 'Roboto Slab', serif;
$content-font: 'Open Sans', sans-serif;