@import "variables";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

body, html {
    margin: 0;
    padding: 0;
}

.main-content {
    min-height: 60vh;
}

a {
    text-decoration: none;
    &:visited {
        color: currentColor;
    }
}

.fancy {
    text-decoration: none;
    position: relative;
    letter-spacing: 0.5px;

    &::after {
        content: ' ';
        width: 0;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: auto;
        transition: 0.2s all;
    }

    &:hover, &:focus, &:active {
        &::after {
            width: 100%;
        }
    }
}

.section-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: $title-font;
    position: relative;
    width: max-content; 
    margin-bottom: 100px;

    &::after {
        content: ' ';
        width: calc(100% + 15px);
        height: 3px;
        background-color: $hacs-blue;
        position: absolute;
        bottom: -16px;
        left: 0;
        right: 0;
        margin: auto;
    }
}